{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href=" {% static "css/style.css" %}">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Dashboard Panel</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src=" {% static "images/smart safety helmet3.png" %}" alt="">
            </div>

            <span class="logo_name">Smart helmet</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url "manager" %}" class="selected">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a style="cursor: pointer;" id="detailbtn">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Content</span>
                </a>
                <div id="detaildiv">
                    <a href="{% url "sites" %}"><span class="link-name">Sites</span></a>
                    <a href="{% url "supervisors" %}"><span class="link-name">Supervisors</span></a>
                    <a href="{% url "workers" %}"><span class="link-name">Workers</span></a>
                    <a href="{% url "helmets" %}"><span class="link-name">Helmets</span></a>
                </div>
            </li>
                <li><a href="{% url "analytics" %}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="{% url "incomes" %}">
                    <i class="uil uil-dollar-sign"></i>
                    <span class="link-name">financial</span>
                </a></li>
                <li><a href="{% url "reports" %}">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">reports</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="{% url "login" %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <img src="images/profile.jpg" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box">
                        <span class="text">Total sites</span>
                        <span class="number">{{total_number_of_sites}}</span>
                    </div>
                    <div class="box">
                        <span class="text">Total supervisors</span>
                        <span class="number">{{total_number_of_supervisors}}</span>
                    </div>
                    <div class="box">
                        <span class="text">Total workers</span>
                        <span class="number">{{total_number_of_workers}}</span>
                    </div>
                    
                </div><br>
                <div class="boxes">
                    <div class="box ">
                        <span class="text">Unassigned workers</span>
                        <span class="number">{{not_assigned_workers}}</span>
                    </div>
                    <div class="box ">
                        <span class="text">Total helmets</span>
                        <span class="number">{{total_number_of_helmets}}</span>
                    </div>
                    <div class="box ">
                        <span class="text">Unassigned helmets</span>
                        <span class="number">{{not_assigned_helmets}}</span>
                    </div>
                    
                </div>
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>
                {% for action in recent_actions %}
                <h3>{{ action.user }} performed {{ action.model_affected }} on {{ action.timestamp }}</h3>
                {% endfor %}
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">{{recent_actions.user}}</span>
                        <span class="data-list">{{recent_actions.user}}</span>
                        <span class="data-list"></span>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <script src=" {% static "js/script.js" %}"></script>
</body>
</html>