{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href=" {% static "css/main.css" %} ">
    <title>supervisor page</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="window" id="popup">
        <div class="window_content">
            <i id="closePopup" class="fa-solid fa-xmark close"></i>
            <h1>Just a sec.....</h1>
        </div>    
    </div>
    <div class="menuBar">
        <div class="head">
            <i class="fa-solid fa-bars menuControls" id="menuControls"></i>
            <img src=" {% static "images/smart safety helmet3.png" %} " alt="logo">
            <h2>Smart Helmet</h2>
        </div>
        <ul>
            <li>
                <a href="#container1" id="sideBTN" class="firstBTN">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#container2" id="sideBTN">
                    <i class="fa-solid fa-users"></i>
                    <span>Workers</span>
                </a>
            </li>
            <li>
                <a href="#container4" id="sideBTN">
                    <i class="fa-solid fa-headset"></i>
                    <span>Support</span>
                </a>
            </li>
        </ul>
        <div class="bottomSide">
            <div>
                <span>Log out</span>
                <a href="{% url "login" %}"><i class="fa-solid fa-arrow-right-from-bracket"></i><a/>
                </div>
        </div>
    </div>
    <div class="mainContainer">
        <div class="container1" id="container1">
            <div class="card">
                <h2>Helmet Statistics</h2>
                <div class="cardBody">
                    <div class="left">
                        
                    </div>
                    <div class="right">
                        <p>Number of Helmets: <span>500</span></p>
                        <p>Number of Workers: <span>500</span></p>
                        <p>Number of Unassigned: <span>200</span></p>
                    </div>
                </div>
            </div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div class="container2" id="container2">
            <h2>ASSIGN WORKERS </h2>
            <form method="POST" class="up">
                {% csrf_token %}
                <div class="inputs">
                    <input name="worker" type="text" placeholder="Worker Name" required>
                    <input name="helmetID" type="text" placeholder="Helmet ID" required>
                </div>
                <button type="submit" name="assign" class="addsupervisor">ASSIGN</button>
            </form>
            <div class="down">
                <div class="sort">
                    <input type="text" placeholder="search" id="searchbar2">
                    <div class="filter">
                        <h3>search by : </h3>
                        <select id="filterSelect"> 
                            <option value="name">name</option>
                            <option value="phone">address</option>
                            
                        </select>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Helmet</th>
                            <th>UnAssign</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody id="table2body">
                        {% for worker in workers %}
                        <tr>
                            <td>{{ worker.name }}</td>
                            <td>{{ worker.phone }}</td>
                            <td>{{ worker.address }}</td>
                            <td>{{ worker.helmetID }}</td>
                            <td>
                                <form method="post" >
                                    {% csrf_token %}
                                    <input type="hidden" name="worker" value="{{ worker.name }}">
                                    {% if worker.helmetID %}
                                    <button id="delete" type="submit" name="unassign">Unassign</button>
                                    {% else %}
                                    <button  id="delete" disabled></button>
                                    {% endif %}
                                </form>
                            </td>
                            <td><a style="text-decoration:none;" id="update" href="{% url "worker_page" worker.id %}" >show</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container4" id="container4">
                <h2>SUPPORT</h2>
                <form method="POST" class="orc" id="orc">
                    {% csrf_token %}
                    <p>Send A Report</p>
                    <input name="supervisor" type="text" placeholder="your name" required>
                    <div class="orc2">
                    <input name="report" type="text" placeholder="your massage" required ></div>
                    <br>
                    <button name="sendReport" class="addsupervisor" style="background: linear-gradient(90deg,#02CBF2,#0286A0);    font-size:20px;
                    font-weight: 440;
                    color: #FEFEFC;
                ">Send Report</button>
                    <br>
                    <br>
                    
                    <button><i class="fa-solid fa-phone"></i> Call Emergency</button>
                </form>
                
        </div>
    </div>
    <script src=" {% static "js/manager.js" %} "></script>
</body>
</html>
